<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <div class='header'>
        <div class='homeLink'>
            <h1><img style="vertical-align:middle" src='/static/images/logo.png' width=100 alt="">-gram</h1>
        </div>
        <div class='exploreLink'>
            <a href='/accounts/login/'>Log in</a>
        </div>
    </div>

    <div class='content'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>